<div class="dataviewer_filter">
	<form method="POST" action="#">
		<p class="input-append">
			<input type="text" class="input input-xlarge" name="filter" placeholder="filter results"/>
			<input class="btn" type="submit">Filter Results</button>
			<input class="btn" type="reset">Clear</button>
		</p><!-- /.input-append -->
	</form>
</div><!-- /.dataviewer_filter -->
