<div class="pull-left">
	<a class="brand">Dynamic Object Property Editor</a>
</div>

<div class="navbar-form pull-right"><button class="btn btn-success dope_accept_button">Accept Changes</button> <button class="btn dope_cancel_button">Cancel</button></div>
