<div class="balloon balloon-[!= dt.direction !] balloon-[!= dt.style !] balloon-hidden">
	<div class="balloon-frame">
		<div class="balloon-content">
			<h3>[!= dt.title !]</h3>
			<p>[!= dt.body !]</p>
		</div><!-- /.balloon-content -->

		<span class="balloon-close lsf">close</span>
		<div class="balloon-arrow"></div><!-- /.balloon-arrow -->
	</div><!-- /.balloon-frame -->
</div>
