<tr class="queue_item">
	<td>[!= dt.item.name !]</td>
	<td>[!= dt.size !]</td>
	<td class="actions"><button class="btn btn-mini" data-actions="remove" data-index="[!= dt.index !]">Remove</button></td>
</tr><!-- /.queue_item -->
