<div class="grid_editor">
	<p class="text-info">Drag and Drop items to arrange them into the order you desire. Additionally, you manually move an item by typing your desired position into the input box in the upper right corner and pressing enter.</p>
	<hr/>

	<div class="grid_editor_items_target clearfix"></div><!-- /.grid_editor_items_target -->
	<div class="grid_editor_holding_bin">
		<div class="grid_editor_placeholder"><div class="grid_editor_placeholder_inset"></div></div>
	</div><!-- /.grid_editor_holding_bin -->
</div><!-- /.grid_editor -->
