<div class="grid_editor_item" draggable="true" data-index="[!= dt.index !]">
	<div class="grid_editor_inset" style="height: [!= dt.height !]px; width: [!= dt.width !]px;">[!= dt.item_render !]</div><!-- /.grid_editor_inset -->

	<div class="grid_editor_controls">
		<input type="text" class="input" placeholder="[!= dt.index+1 !]" value="" maxlength="4" data-grid-editor-input data-index="[!= dt.index !]"/>
	</div><!-- /.grid_editor_controls -->
</div>
