<div class"pull-left">
	<a class="brand">Grid Editor</a>
</div>

<div class="navbar-form pull-right"><button class="btn btn-success" data-grid-editor-action="accept">Accept Changes</button> <button class="btn" data-grid-editor-action="cancel">Cancel</button></div>
