<div class="viewport">
	<div class="widget_star"></div>
	<div class="widget_handle widget_handle_se widget_handle_resize"><span></span></div>
	<div class="widget_handle widget_handle_ne widget_handle_delete"><span></span></div>
</div><!-- /.viewport -->
