<div class="scheduler_day">
	<h3 class="heading">[!= dt.day_title !]</h3>

	<form method="post" action="#" class="scheduler_addslot">
		<div class="input-append">
			<p>
				<input class="input-mini" type="text" maxlength="5" placeholder="hh:mm" name="time_string">
				<input class="btn" type="submit" data-addslot value="Add Slot"/>
			</p>
		</div><!-- /.input-append -->
	</form>

	<div class="scheduler_slot_target"></div><!-- /.scheduler_slot_target -->
</div><!-- /.scheduler_day -->
