<div class="scheduler">
	<div class="scheduler_columns">
		<div class="scheduler_day_wrapper">
			<div class="scheduler_day_target">
			</div><!-- /.scheduler_day_target -->
		</div><!-- /.scheduler_day_wrapper -->

		<div class="scheduler_puck_wrapper">
			<h3 class="heading">Unpublished Stories</h3>

			<div class="scheduler_puck_target">
			</div><!-- /.scheduler_puck_target -->
		</div><!-- /.scheduler_puck_wrapper -->
	</div><!-- /.scheduler_columns -->
</div><!-- /.scheduler -->
