<div class="scheduler_slot clearfix">
	<div class="scheduler_heading">
		<p>[!= dt.__.strftime('%I:%M %p', dt.day) !]</p>
	</div><!-- .scheduler_heading -->

	<div class="scheduler_drop_target depressed">

	</div><!-- /.scheduler_drop_target -->

	<div class="scheduler_slot_actions">
		<p><button class="btn btn-mini" data-action="remove"><span class="lsf-bicon" lsf="delete">Clear</span></button></p>
	</div><!-- /.scheduler_slot_actions -->
</div><!-- /.scheduler_slot -->

