<div class="subset_manager_item">
	<div class="subset_manager_item_handle"><p class="lsf">menu</p></div>

	<div class="subset_manager_item_copy">[!= dt[extra.label_property] !]</div>

	<div class="subset_manager_item_actions">
		<p><button class="btn btn-mini" data-subset-manager-item-action="remove"><span class="lsf-bicon" lsf="delete">Remove</span></button></p>
	</div><!-- /.subset_manager_item_actions -->
</div>
