<div class="subset_manager">

	<div class="subset_manager_item_target"></div><!-- /.subset_manager_item_target -->

	<div class="subset_manager_actions">
		<p><span class="subset_manager_action_copy"><span class="subset_manager_counter">0</span> of [!= dt.limit !] maximum</span><button class="btn" data-subset-manager-action="removeall"><span class="lsf-bicon" lsf="delete">Remove All</span></button>
	</div><!-- /.suset_manager_actions -->
</div><!-- /.subset_manager -->
