<div class="list_editor">
	<p class="empty_message">No items to display.</p>
	<div class="list_editor_target"></div><!-- /.list_editor_target -->
	<input class="input input-medium list_editor_input" type="text" value="" data-no-serialize autocomplete="off"/>
</div><!-- /.list_editor -->
