<div class="sbarmodal">
	<div class="sbar_main">
		<div class="sbar_content">
			<div class="sbar_target"></div>
			<div class="sbar_controls"><a href="#close" class="sbar_close">&times;</a></div><!-- /.sbar_controls -->
		</div><!-- /.sbar_content -->
	</div><!-- /.sbar_main -->
</div><!-- /.sbarmodal -->
